  {% extends 'base.html' %}
  {% block content %}

     <div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title">{{task.name}}</h5>
                    <p><b> {{task.priority}}</b></p>
                    <p>Created Date:{{task.date}} </p>
                    <a class="btn btn-danger" href="{% url 'cbvdelete' task.id %}">Done</a>
                    <a class="btn btn-success" href="{% url 'cbvupdate' task.id %}">update</a>
                </div>
            </div>
            <br>

        </div>
  {% endblock %}